.videoSidebar{
  position: absolute;
  top: 50%;
  right: 20px;
  color: aliceblue;
}

.videoSidebar__options{
  padding: 2px;
  margin: 15px 0;
  text-align: center;
}

@media only screen and (max-width: 470px){
  .videoSidebar{
    top: 45%;
  }
}